body{

}
.wrapper
{
	
	background-color: blue;
	position:absolute;
	width: 98.5%;
	text-align: center;
	height: 600px;
	border: 4px solid blue;
}
.header
{
	top: 0px;
	background-color:brown;
	box-sizing: border-box;
	text-align: center;
	height: 10%;
	color: white;
}
.homebtn a
{
	color: white;
	background-color:lime;
	float: right;
	line-height: 44px;
	width: 100px;
}
.sidebar
{
	background-color:white;
	width: 17.85%;
	height: 70%;
	border: 2px solid red;
	overflow-x: hidden;

}
.main
{
    background-color:#f1f1f1;
	width: 78%;
	height: 70%;
	transform: translate(25%,-100%);
	overflow-x:hidden;
	border: 2px solid red;
}
form p
{
	color: red;
	font-family: serif;
	font-weight: bold;
}
form input[type='number'],
form input[type='text']
{
   border: none;
	border-bottom: 2px solid gold;
	outline: none;
	color: lime;
	font-size: 16px;
}
form input[type="submit"]
{
    border: none;
	outline: none;
	height: 40px;
	color: #fff;
	background: #ff267e;
	cursor: pointer;
	border-radius: 20px;
	font-size: 16px;
}
form input[type="submit"]:hover
{
	background: #efed40;
	color: #262626;
}
.homebtn a
{
    border: none;
	outline: none;
	height: 40px;
	color: #fff;
	background: ocean-blue;
	cursor: pointer;
	border-radius: 20px;
	font-size: 16px;	
}
.homebtn a:hover
{
	background: cyan;
	color: #262626;
}
h2{text-align: center;}
select
{
	width: 100%;
	height: 100%;
 appearance:none;
 outline: none;
 box-shadow: none;
 background: #2c3e50;
 border: 0 !important;
 margin: 0;
 padding: 0 0 0 4em;
 color: #fff;
 font-size: 1em;
 letter-spacing: .8px;
 cursor: pointer;
 font-family: serif;
 font-weight: bold;
}
.select
{
	position: relative;
	display: block;
	width: 15em;
	height: 2em;
	background: #2c3e50;
	overflow: hidden;
	line-height: 2em;
	border-radius: 30em;

}
.select::after
{
	content: '\25bc';
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	padding: 0 1em;
	background: #34495e;
	pointer-events:none;
	transition: .2s all ease;

}
.select:hover:after
{
	color: #31a3e4;
}
