body{
	margin: 0;
	padding: 0;
	background: url(bg.jpg);
	background-size: cover;
	font-family: sans-serif;
	background-color: #785451;
}
.signup
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 580px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
}.user{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-50px/2);
	left: calc(50% - 50px);
}h2
{
	margin: 0;
	padding:0 0 1px;
	color: yellow;
	text-align: center; 
}.signup p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.signup input
{
	width: 100%;
	margin-bottom: 10px;

}
.signup input[type="text"],
.signup input[type="email"],
.signup input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 25px;
	color: #fff;
	font-size: 16px;
}::placeholder
{
	color: rgba(255,255,255,.5);
}
.signup input[type="submit"]
{
    border: none;
	outline: none;
	height: 30px;
	color: #fff;
	background: #ff267e;
	cursor: pointer;
	border-radius: 20px;
	font-size: 16px;
}
.signup input[type="submit"]:hover
{
	background: #efed40;
	color: #262626;
}