body{
}
.wrapper
{
position:relative;
top: 0%;	
left: 2%;
width: 96%;
height: 15%;
background-color:maroon;
	background-color: pink;
}
.header
{
position:fixed;
top: 0%;	
left: 2%;
width: 96%;
height: 15%;
background-color:maroon;
}
.sidenave
{
position:fixed;
top: 20%;	
left: 2%;
width: 25%;
height: 395px;
background-color:#f1f1f1;
border: 2px solid yellow;
overflow-x: hidden;
}
.main
{
position:fixed;
top: 20%;	
left: 29%;
width: 67.6%;
height: 395px;
background-color:#f1f1f1;
border: 2px solid yellow;
float: right;
overflow-x: hidden;
}
h4
{
	text-align: center;
	color: #fff;
    font-family: serif;
    line-height: 24px;
    font-weight: bold;
    font-size: 16px;
}
.headerhome
{
	position: relative;
	background-color: red;
	float: right;
	right: 2%;
	top: 100px;
	
}
.headerhome a:hover
{   background: blue;
	color: red;
	cursor: pointer;
}