body{
	margin: 0;
	padding: 0;
	background: url(bg.jpg);
	background-size: cover;
	font-family: sans-serif;
	background-color: lime;
}
.header h2
{
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
	width: 100%;
	height: 100px;
	color: #fff;
	text-align: center;
	font-family: serif;
	font-size: 20px;
	line-height: 30px;
}
.logo
{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	overflow: hidden;
	position: absolute;
	top: calc(30px/2);
	left: calc(5% - 50px);
	padding: 0px 30px 0px;

}
.main
{
	top: 50%;
	left: 50%;
	width: 350px;
	height: 450px;
	padding: 80px 50%;
	box-sizing: border-box;
	background: olive;
}
.container2
{
	top: auto;
	width: 35%;
	height: 100px;
	position: absolute;
	top: calc(55%/2);
	left: calc(45% - 50px);
	position: fixed;
}
.container3
{
	top: auto;
	width: 30%;
	height: 100px;
	position: absolute;
	top: calc(55%/2);
	left: calc(70% - 50px);
}
.container1
{

	top: auto;
	width: 30%;
	height: 100px;
	position: absolute;
	top: calc(55%/2);
	left: calc(25% - 50px);
}
.main p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
	line-height: 40px;
}
.main input
{
	width:40%;
	margin-bottom: 20px;
}
.check
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.main input[type="text"],
.main input[type="date"],
.main input[type="time"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 20px;
	color: #fff;
	font-size: 16px;
	font-family: sans-serif;
}
.check input
{
	width:5%;
	margin-bottom: 20px;
}
.container3 input[type="submit"]
{
    border: none;
	outline: none;
	height: 40px;
	color: #fff;
	background: #ff267e;
	cursor: pointer;
	border-radius: 20px;
	font-size: 16px;
}
.container3 input[type="submit"]:hover
{
	background:cyan;
	color: #262626;
}
.footer
{
	text-align: center;
	color: black;
	font-size: 24px;
	font-weight: bold;
	font-family: serif;

}
.wrapperj
{
	width: 100%;
	height: auto;
	box-sizing: border-box;
	background:red;
}
@media only screen and (min-width: 768){
        .main{
        	width: 600px;
        	padding: 0 auto;
        }
        .container2
{
	top: auto;
	width: 35%;
	height: 100px;
	position: absolute;
	top: calc(45%/2);
	left: calc(45% - 50px);
}
.container3
{
transform: translate(20%,60%);
}
.container1
{

	top: auto;
	width: 30%;
	height: 100px;
	position: absolute;
	top: calc(45%/2);
	left: calc(25% - 50px);
}
}