body{
	background: rgba(0,0,0,.5);
	margin: 0px;
    padding: 0px;
	background: url(cows1.jpg);
	background-size: cover;
}
.wrapper{
	overflow-x: hidden;
	height: 100%;
}
.header1{
	text-align: center;
	position: absolute;
	top: 1%;
	left: 5%;
	width: 90%;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
	color: red;
	padding: 20px 20%;
	font-family: serif;
	outline: 2px red solid;
	
}
.header2{
	position: absolute;
	top: 20%;
	left: 5%;
	box-sizing: border-box;
	background-color:white;
	color:black;
	padding: 20px 50px;
	font-family: serif;
	outline: 2px red solid;
}
.header3{
	position: absolute;
	top: 18%;
	left: 20%;
	box-sizing: border-box;
	background-color:white;
	color: black;
	padding: 20px 11.2%;
	font-family: serif;
	outline: 2px red solid;
}
.main{
	position: absolute;
	top: 35%;
	left: 20%;
	height: 42.9%;
	box-sizing: border-box;
	background-color:white;
	color: black;
	padding: 1% 21.3%;
	font-family: serif;
	outline: 2px red solid;
	overflow-x: hidden;
}
.footer{
	text-align: center;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 100%;
	box-sizing: border-box;
	background-color:black;
	color: white;
	padding: 30px 20%;
	font-family: serif;
}
.main p{
	color: cyan;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;

}
.main input{
	width: 100%;
	outline: none;
	border: none;
	border-bottom: 2px red solid;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
}
.main button{
	float: right;
	background-color: white;
	font-size: 24px;
	color: white;
	background-color: black;
	border: 2px blue solid;
	cursor: pointer;
	border-radius: 100%;

}
.main button:hover{
	float: right;
	background-color: white;
	font-size: 24px;
	color: white;
	background-color: green;
	border: 2px blue solid;
	cursor: pointer;
	border-radius: 100%;
}
@media screen and (max-width: 600px){
.header1{
	text-align: center;
	position: absolute;
	top: 1%;
	left: 5%;
	width: 90%;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
	color: red;
	padding: 14px 5%;
	font-family: serif;
	outline: 2px red solid;
	font-size: 14px;
}
.header3{
	position: absolute;
	top: 10.5%;
	left: 35.5%;
	width: 60.5%;
	box-sizing: border-box;
	background-color:powderblue;
	color: black;
	padding: 10px 2px;
	font-family: serif;
	outline: 2px red solid;
	font-size: 14px;
}
.main{
	position: absolute;
	top: 18%;
	left: 5%;
	height: 42.9%;
	width: 91.6%;
	box-sizing: border-box;
	background-color:white;
	color: black;
	padding: 10% 21.3%;
	font-family: serif;
	outline: 2px red solid;
	overflow-x: hidden;
}
.footer{
	text-align: center;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 105%;
	box-sizing: border-box;
	background-color:black;
	color: white;
	padding: 100px 20%;
	font-family: serif;
}
}
@media screen and (max-height: 670px){
	.wrapper{
	overflow-x: hidden;
	height: 700px;
}
.header1{
	text-align: center;
	position: absolute;
	top: 1%;
	left: 5%;
	width: 90%;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
	color: red;
	padding: 14px 5%;
	font-family: serif;
	outline: 2px red solid;
	font-size: 14px;
}
.header3{
	position: absolute;
	margin-top:10%;
	left: 5%;
	width: 90%;
	box-sizing: border-box;
	background-color:powderblue;
	color: black;
	font-family: serif;
	outline: 2px red solid;
	font-size: 10px;
}
.main img{
border-radius: 50%;
float: right;
}
.main{
	position: absolute;
	margin-top:22.5%;
	left: 5%;
	height: 320px;
	width: 90%;
	box-sizing: border-box;
	background-color:white;
	color: black;
	padding: 40px 21.3%;
	font-family: serif;
	outline: 2px red solid;
	overflow-x: hidden;
}
.footer{
	text-align: center;
	position: absolute;
	top: 540px;
	bottom: 0px;
	left: 0%;
	width: 105%;
	box-sizing: border-box;
	background-color:black;
	color: white;
	padding: 100px 20%;
	font-family: serif;
}
}