body{
	
}
.header
{
	position:fixed;
top: 0%;	
left: 2%;
width: 95%;
height: 15%;
background-color:maroon;
text-align: center;
color: #fff;
 font-family: serif;
    line-height: 24px;
    font-weight: bold;
    font-size: 16px;
}
.body
{
	position: absolute;
	top: 0%;
	width: 434%;
	left: 105%;
	box-sizing: border-box;
	color: red;
	background-color:#f1f1f1;
	height: 100%;
	border: 1px solid blue;
}
.main
{
	position:fixed;
	top: 17%;
	left: 2%;
	box-sizing: border-box;
	color: red;
	background-color:#f1f1f1;
	height: 70%;
	border: 1px solid blue;
}
h2{text-align: center;}
select
{
	width: 100%;
	height: 100%;
 appearance:none;
 outline: none;
 box-shadow: none;
 background: #2c3e50;
 border: 0 !important;
 margin: 0;
 padding: 0 0 0 4em;
 color: #fff;
 font-size: 1em;
 letter-spacing: .8px;
 cursor: pointer;
 font-family: serif;
 font-weight: bold;
}
.select
{
	position: relative;
	display: block;
	width: 15em;
	height: 2em;
	background: #2c3e50;
	overflow: hidden;
	line-height: 2em;
	border-radius: 30em;

}
.select::after
{
	content: '\25bc';
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	padding: 0 1em;
	background: #34495e;
	pointer-events:none;
	transition: .2s all ease;

}
.select:hover:after
{
	color: #31a3e4;
}
