body{

}
.wrapper
{
	
	background-color:blue;
	position:absolute;
	width: 98.5%;
	text-align: center;
	height: 650px;
	border: 4px solid blue;
}
.header
{
	top: 0px;
	background-color:brown;
	box-sizing: border-box;
	text-align: center;
	height: 10%;
	color: white;
}
.homebtn a
{
	color: white;
	background-color:lime;
	float: right;
	line-height: 44px;
	width: 100px;
}
.sidebar
{
	background-color:white;
	width: 30%;
	height: 70%;
	border: 2px solid red;
	overflow-x: hidden;

}
.main
{
    background-color:#f1f1f1;
	width: 68%;
	height: 70%;
	transform: translate(46%,-100%);
	overflow-x:hidden;
	border: 2px solid red;
}
form p
{
	color: red;
	font-family: serif;
	font-weight: bold;
}
form input[type='number'],
form input[type='text']
{
   border: none;
	border-bottom: 2px solid gold;
	outline: none;
	color: lime;
	font-size: 16px;
}
form input[type="submit"]
{
    border: none;
	outline: none;
	height: 40px;
	color: #fff;
	background: #ff267e;
	cursor: pointer;
	border-radius: 20px;
	font-size: 16px;
}
form input[type="submit"]:hover
{
	background: #efed40;
	color: #262626;
}
.homebtn a
{
    border: none;
	outline: none;
	height: 40px;
	color: #fff;
	background: ocean-blue;
	cursor: pointer;
	border-radius: 20px;
	font-size: 16px;	
}
.homebtn a:hover
{
	background: cyan;
	color: #262626;
}
.wrapper button
{
	background-color: red;
	color:yellow;
	transform: translate(150%,2600%);
	position:relative;
	font-size: 15px;

} 
.wrapper button:hover
{
	background-color: green;
	color: white;
}