body{
}
.header
{
position:fixed;
top: 0%;	
left: 2%;
width: 96%;
height: 15%;
background-color:maroon;

}
.sidenave
{
position:fixed;
top: 20%;	
left: 2%;
width: 25%;
height: 350px;
background-color:white;
border: 2px solid yellow;
}
.main
{
position:fixed;
top: 20%;	
left: 29%;
width: 67.6%;
height: 350px;
background-color:white;
border: 2px solid yellow;
float: right;
overflow-x: hidden;
}
h4
{
	text-align: center;
	color: #fff;
    font-family: serif;
    line-height: 24px;
    font-weight: bold;
    font-size: 16px;
}
.headerhome
{
	padding: 99px 0 0 90%;
	position: fixed;
	
}
.headerhome input[type="submit"]:hover
{   background: blue;
	color: red;
	cursor: pointer;
}