body{
	background-color: lightblue;
	margin: 0px;
	padding: 0px;
}
p{
	font-weight: bold;
	color:#12ff;
	font-family: serif;
	font-size: 24px;

}
input{
	color: red;
}
form{
	top: 50%;
	left: 50%;
	position: absolute;
	width: 30%;
	height: 70%;
	box-sizing: border-box;
	transform: translate(-50%,-50%);
	background-color: white;
	text-align: center;
	border:2px red solid;
}
input [type="submit"]{
	color:cyan;
	background-color: orange;
}