body{
	background-color: powderblue;
}.wrapper{
	background-color:lightgray;
	height: 100%;
}
.content_tittle{
	text-align: center;
	color:#fff;
	font-weight: bold;
	font-family: sans-serif;
	background-color:#008080;
	font-size: 20px;

}
.content{
	position:absolute;
	background-color: white;
	height: 50%;
	top: 10%;
	width:50%;
	left: 25%;
	
}
.footer{
	text-align: center;
	color: white;
	position:absolute;
	background-color: black;
	width: 98%;
	bottom: 0%;
	left: 1%;

}
.sub_footer{
	position:relative;
	background-color:#666362;
	width: 100%;
	bottom: 0%;
	text-align: center;
	font-size: 16px;
}