body{
	margin: 0;
	padding: 0;
	background: url(bg.jpg);
	background-size: cover;
	font-family: sans-serif;
	background-color: blue;
}
.loginBox{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 450px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
}.user{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px);
}
h2
{
	margin: 0;
	padding:0 0 20px;
	color: yellow;
	text-align: center; 
}.loginBox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.loginBox input
{
	width: 100%;
	margin-bottom: 20px;

}
.loginBox input[type="email"],
.loginBox input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
::placeholder
{
	color: rgba(255,255,255,.5);
}
.loginBox input[type="submit"]
{
    border: none;
	outline: none;
	height: 40px;
	color: #fff;
	background: #ff267e;
	cursor: pointer;
	border-radius: 20px;
	font-size: 16px;
}
.loginBox input[type="submit"]:hover
{
	background: #efed40;
	color: #262626;
}
.loginBox a
{
	color:#954;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}
.signup
{
	margin:0px;
	padding: 10px;
	color:#745;
	font-size: 18px;
	font-weight: bold;
	padding: 100px 98px;
}
@media screen and (max-width: 320px){
.loginBox{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 300px;
	height: 450px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
}
.loginBox input
{
	width: 100%;
	margin-bottom: 15px;

}
}
