body{
	margin: 0px;
    padding: 0px;
	background: url(cows2.jpg);
	background-size: cover;
	font-family: serif;
}
.header h2{
	color: red;
	font-family: sans-serif;
	text-align: center;
}
form{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50% ,-50%);
	box-sizing: border-box;
	background-color:transparent;
	color: red;
	padding: 80px 40px;
	font-family: serif;
	outline: 2px blue solid;
}
.instruction p{
color: white;
font-weight: bold;
font-family: serif;

}
.f_body input{
	outline: none;
	border: none;
	border-bottom: 1px red solid;
	background: transparent;
	height: 40px;
	width: 50%;
	color: cyan;
}
.submit{
	float: right;
    background:red;
}
@media screen and (max-width: 800px){
form{
	position: absolute;
	top: 53.6%;
	left: 50%;
	height: 70%;
	transform: translate(-50%,-40%);
	box-sizing: border-box;
	padding: 10px 40px;
	background: rgba(0,0,0,.5);
}	
body{
	margin: 0px;
    padding: 0px;
	background: url(cows2.jpg);
	background-size: cover;
	font-family: serif;
}
.f_body input{
	outline: none;
	border: none;
	border-bottom: 1px red solid;
	background: ;
	height: 40px;
	width: 100%;
  }
  .menu{

  }
}
@media screen and (max-height: 800px){
	form{
	position: absolute;
	top: 53.6%;
	left: 50%;
	height: 70%;
	transform: translate(-50%,-40%);
	box-sizing: border-box;
	padding: 10px 40px;
	background: rgba(0,0,0,.5);
	overflow-x: hidden;
}
}